
<nav style="text-align:right">
  <a routerLink="/home" routerLinkActive="active">На главную</a> |
  <a routerLink="/profile" routerLinkActive="active">Личный кабинет</a> |
  <a routerLink="/reservation" routerLinkActive="active">Забронировать время</a> |
  <a routerLink="/login" routerLinkActive="active">Логин</a> |
  <a routerLink="/registration" routerLinkActive="active">Регистрация</a> |
  <a routerLink="/confirm" routerLinkActive="active">Ввод кода подтверждение</a>
</nav>

<router-outlet></router-outlet>
